* {
  transition-property: background-color;
  transition-duration: 0.3s;
  box-sizing:border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.root {
  height: 100vh;
}

header {
  height: 150px;
  background-color: #333;
  color: white;
  padding: 8px;
}

.page {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.page > *:nth-child(1) {
  flex-grow: 0;
  background-color: #444;
  width: 200px;
  text-align: center;
}

.page > *:nth-child(2) {
  flex-grow: 1;
}

.page > *:nth-child(2) > * {
  padding: 20px;
}

button {
  width: 200px;
  height: 2em;
}

.page a {
  color :white;
}

p {
  padding: 10px;
}